power-automate-email-forward.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    }
  },
  "triggers": {
    "When_a_new_email_arrives_in_Gmail": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['gmail']['connectionId']"
          }
        },
        "method": "get",
        "path": "/Mail/OnNewEmail",
        "queries": {
          "from": "onboarding@resend.dev",
          "label": "INBOX"
        }
      },
      "recurrence": {
        "frequency": "Minute",
        "interval": 1
      }
    }
  },
  "actions": {
    "Condition_Check_TO_Tag": {
      "type": "If",
      "expression": {
        "and": [
          {
            "contains": [
              "@triggerOutputs()?['body/Subject']",
              "[TO:"
            ]
          }
        ]
      },
      "actions": {
        "Initialize_Recipient": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ActualRecipient",
                "type": "string",
                "value": "@{substring(triggerOutputs()?['body/Subject'], add(indexOf(triggerOutputs()?['body/Subject'], '[TO:'), 4), sub(indexOf(triggerOutputs()?['body/Subject'], ']'), add(indexOf(triggerOutputs()?['body/Subject'], '[TO:'), 4)))}"
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_CleanSubject": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CleanSubject",
                "type": "string",
                "value": "@{trim(substring(triggerOutputs()?['body/Subject'], add(indexOf(triggerOutputs()?['body/Subject'], ']'), 2)))}"
              }
            ]
          },
          "runAfter": {
            "Initialize_Recipient": ["Succeeded"]
          }
        },
        "Send_Email_via_Outlook": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['office365']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/Mail",
            "body": {
              "To": "@variables('ActualRecipient')",
              "Subject": "@variables('CleanSubject')",
              "Body": "<p>@{triggerOutputs()?['body/Body']}</p>",
              "From": "minho.kim@grupopremo.com"
            }
          },
          "runAfter": {
            "Initialize_CleanSubject": ["Succeeded"]
          }
        }
      },
      "runAfter": {}
    }
  }
}
